
body {
	/*background-image: url("../img/background-inicio.jpg");*/

	/*background-color: #a2cd39 !important;*/
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

img{
	display: block;
	margin: auto;
	width: 30%;
	margin-top: 15px;
	margin-bottom: 30px;
}

/*.has-feedback-left input.form-control {
	padding-left: 34px;
	padding-right: 12px;
}

.has-feedback-left .form-control-feedback {
	left: 0;
}
.form-horizontal .has-feedback-left .form-control-feedback {
	left: 12px;
}

.has-feedback-left input.input-sm {
	padding-left: 30px;  @input-height-small;
}
.has-feedback-left input.input-lg {
	padding-left: 46px;  @input-height-large;
}

.fa{
	margin-top: 10px;
	color: #337ab7;
}

input{
	background: #90caf9   !important;
	border: none !important;
	color: black !important;
	border-radius: 10px !important;
}

.form-control::-webkit-input-placeholder { color: #01579b; }
.form-control:-moz-placeholder { color: #01579b; }
.form-control::-moz-placeholder { color: #01579b; }
.form-control:-ms-input-placeholder { color: #01579b; }

.btn{
	border-radius: 10px !important;
	border: 3px solid white !important;
	color: black !important;
	font-weight: bold;
	background: transparent;
}*/

footer {
	width: 100%;
	bottom: 1px;
	position: absolute;
	height: 50px;
	display: table-row;
	margin:0 auto auto auto;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.panel{
	margin-top: 5%;
	border-radius: 10px !important;
	border: solid 3px #0fa54a !important;
	box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.25);
}

.modal-dialog{
	margin-top: 10%;
	border-radius: 0px !important;
}

button{
	border-radius: 0px !important;
}